<div id="lcontent">

    <div id="station" style="height:100%;">
        <div class="divi">
            <img alt="이미지" src="/web/monitor/images/h4_blit.png" style="float:left;">
            <span style="font-weight: bolder; float:left; padding-left: 5px;">지역 선택</span>
            <br>
            <select id="F_SI_DO1" style="width: 120px;" title="시도 선택" class="search_sel">
                <option value="">시도</option>
            <option value="11">서울특별시</option><option value="26">부산광역시</option><option value="27">대구광역시</option><option value="28">인천광역시</option><option value="29">광주광역시</option><option value="30">대전광역시</option><option value="31">울산광역시</option><option value="36">세종특별자치시</option><option value="41">경기도</option><option value="42">강원도</option><option value="43">충청북도</option><option value="44">충청남도</option><option value="45">전라북도</option><option value="46">전라남도</option><option value="47">경상북도</option><option value="48">경상남도</option><option value="50">제주특별자치도</option></select>
            <span id="sido_change" style="display: none;">시도</span>
            <select id="F_GU_GUN1" style="width: 120px;" title="시군구 선택" class="search_sel">
                <option value="">시군구</option>
            </select>
            <span id="sigungu_change" style="display: none;">시군구</span>
            
            <br>
            
            <div class="search_box">
                <input type="text" name="key_search" id="F_STAT_NAME1" class="search_in" placeholder="검색어를 입력바랍니다." title="검색어를 입력바랍니다.">
                <a href="#" id="BTN_FIND_BY_NAME" title="검색어 조회하기"><img src="web/monitor/images/reading_glass.gif" alt="조회 버튼" class="search_btn"></a>
                
            </div>
            
            <br>
       
        
        <p class="result" style="padding-bottom: 15px; margin-bottom: 5px; height: 10px;">
            <span id="resultAddr"></span><a id="resultSearch"></a>
        </p>
</div>   
